
body {
font: 12px/18px Helvetica, Arial, Helvetica, sans-serif;
background: black url("bg.jpg") center top no-repeat fixed;
margin:0;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

h3{
font-size: 20px;
}

nav{
float: left;
width: 15%;
max-width: 200px;
text-align: right;
}

nav ul {
padding: 0px;
margin: 0px;
list-style-type: none;
text-align: right;
}

nav ul li a {
color: #222;
background: none;
text-decoration: none;
font-size: 100%;
vertical-align: baseline;
}

nav>ul>li>a:hover{
text-shadow: -1px -1px 0 #000, 1px 3px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

ul, ol, li{
list-style: none;
margin-bottom: 0.9375em;
padding-left: 0px;
}
