@media(max-width: 900px){
nav>ul>li{
float:none;
width:auto;
}
h1, address{
text-align: left !important;
}
img{
max-width:20%;
height: auto;
}
#resumeNav>ul{
float:none;
}
}
@media(min-width:1300px){
h1, .footer{
background: #BC8F8F;
background: rgba(188,143,143, .4);
}
}
@media(min-width:901px){
img{
max-width:30%;
height: auto;
}

}